<div class="row g-3">
  <% for (let car of cars) { %>

    <div class="col-4">
      <div class="card p-1">
        <h5 class="card-title"><%= car.make %></h5>
        <div class="card-text">
          <div><%= car.model %></div>
          <div><%= car.milage %> miles</div>
          <div>service starts from: <%= car.startYear %></div>
          <div>
            <a class="btn btn-outline-primary" href="<%= '/cars/' + car.id + '/edit' %>">Edit</a>
            <a class="btn btn-outline-danger" href="<%= '/cars/' + car.id + '/delete' %>">Delete</a>
          </div>
        </div>
      </div>
    </div>


  <% } %>

 <%- include("./pagination.ejs", { currentPage, lastPage }) %>

</div>
