<form
  action=" <%= '/cars/' + car.id + '/edit' %>"
  method="POST"
>

  <div>
    <label class="form-label">
      Car ID:
      <input
        class="form-control"
        type="text"
        name="carID"
        value="<%= car.id %>"
        disabled
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Service start year:
      <input
        class="form-control"
        type="text"
        name="startYear"
        value="<%= car.startYear %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      Current mileage:
      <input
        class="form-control"
        type="text"
        name="milage"
        value="<%= car.milage %>"
      />
    </label>
  </div>

  <div>
    <% if (car.isAvailable === "1")  { %>
      <label class="form-label">
      Change the car availability, otherwise choose "Available" (current setting)
    </label>
    <% } else { %>
        <label class="form-label">
          Change the car availability, otherwise choose "Not Available" (current setting)
        </label>
    <% } %> 
    <br/>
    <select name="isAvailable" id="availability">
      <option value="1">Available</option>
      <option value="0">Not Available</option>
    </select>
  </div>

  <br/>

  <div>
    <label class="form-label">
      Change the car make, otherwise choose "<%= car.make %>" (current make)
    </label>
    <br/>
    <select name="make" id="carMake">
      <% for (let make of allMakes) { %>
        <option value=<%= make%>> <%= make %> </option>
      <% } %>
    </select>
  </div>

  <br/>

  <div>
    <label class="form-label">
      Change the car model, otherwise choose "<%= car.model %>" (current model)
    </label>
    <br/>
    <select name="model" id="carModel">
      <% for (let model of allModels) { %>
        <option value=<%= model%>> <%= model %> </option>
      <% } %>
    </select>
  </div>

  <br/>
  <div>
    <label class="form-label">
      Change the current rental branch, otherwise choose "<%= car.currentRentalBranch %>" (current branch)
      <br/>
      <select name="currentRentalBranch" id="rentalBranch">
        <% for (let branch of allRentalBranches) { %>
        <option value="<%= branch %>"> <%= branch %> </option>
      <% } %>
      </select>
    </label>
  </div>

  <br/>
  
  <button type="submit" class="btn btn-primary">Edit</button>
  <a
    class="btn btn-danger"
    href="<%= '/cars/' + car.id + '/delete' %>"
    >Delete</a
  >
  <a
    class="btn btn-warning"
    href="<%= '/cars/' %>"
    >Cancel</a
  >
</form>
