<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>

    <%- include("../templates/navBar.ejs") %>

    <div class="container">
      <h1>Car Management</h1>
      <br/>

      <% if (msg) { %>
        <div class="alert alert-primary">
          <%= msg %>
        </div>
      <% } %>


      <div class="row">
        <div class="col-8">
          <%- include("../components/carsList.ejs", { cars, currentPage, lastPage }) %>
        </div>
        <div class="col-4">
          <%- include("../components/formCreateCar.ejs", { allMakes, allModels, allRentalBranches })%>
        </div>
      </div>

    </div>

    <%- include("../templates/footer.ejs") %>
  </body>
</html>
